body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lexend{
  font-family: 'Lexend', sans-serif;
}

#dropdowns{
  width: 100%;
  text-align: left;
  padding-left: 0;
}

#search{
  width: 100%;
  text-align: left;
  padding-left: 0;
  font-family: 'Lexend', sans-serif;
  font-size: large;
  font-weight: bold;
}

#dropdowns{
  border-width: 2px;
  border-color: rgb(191, 188, 188);
  font-family: 'Lexend', sans-serif;
}

.multiselect-custom .country-item-value {
  /* padding: .25rem .6rem;
  border-radius: 8px; */
  display: inline-flex;
  /* height:auto;
  background-color: rgb(159, 211, 228);
  margin-right: .5rem;
  font-family: 'Lexend', sans-serif;
  height: 100%; */
}

.industry-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token {
  background-color: #c7d2fe;
}

.industry-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-label {
  color:rgb(0, 0, 0);
}

.industry-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-icon {
  color:rgb(0, 0, 0);
}

.location-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token {
  background-color: #fed7aa;
}

.location-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-label {
  color:rgb(0, 0, 0);
}

.location-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-icon {
  color:rgb(0, 0, 0);
}

.req-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token {
  background-color: #a7f3d0;
}

.req-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-label {
  color:rgb(0, 0, 0);
}

.req-multiselect .p-multiselect-label-container .p-multiselect-label .p-multiselect-token .p-multiselect-token-icon {
  color:rgb(0, 0, 0);
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
